@import "tailwindcss";


.press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  
}

.flicker {
  animation: flicker 1s steps(1) infinite;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("paper-texture.jfif");
  background-size: cover;
  pointer-events: none;   /* lets user click through */
  z-index: 9999;          /* above all components */
  opacity: 0.40;           /* adjust visibility */
}


.coffee {
  background-color: #F2F1D7;
}

.text-coffee {
  color: #4E4512
}

