@import "tailwindcss";


.press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  
}

.flicker {
  animation: flicker 1s steps(1) infinite;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  position: relative;
}

.bg-stars {
  background-image: url('/blue.jpg');
  background-repeat: repeat-y;
  width: 100%;
  min-height: 120vh;
  background-size: contain;
  background-position: center;
 
}

.bg-greenie {
  background-image: url('/greenie.jpg');
  
    width: 100%; background-size: contain;
}

.grass {
  background-image: url('/grassblock.jpg');
  background-repeat: repeat-x;
  width: 100%;
height: 400%
}

.thanks-bg {
   background-image: url('/thxbg.jpg');
   background-size: contain;
     background-position: center;
     
  background-repeat: repeat-x;
  width: 100%;
height: 400%
}


.last {
     background-image: url('/last.jpg');
   background-size: contain;
     background-position: center;
     
  background-repeat: repeat-x;
  width: 100%;
height: 400%
}




.coffee {
  background-color: #F2F1D7;
}

.text-coffee {
  color: #4E4512
}

